body, html {
    background-color: #007057;
    margin: 0px;
    padding: 0px;
    display: block;
    max-width: 100%;
}


*{
    box-sizing: border-box;
}

.content_container{
    background-color: #007057;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    box-sizing: border-box;
}

.edit-btn, .undo-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    border-width: 0px;
    color: white;
}

.undo-btn{
    background-color: red;
}

.edit-btn:hover, .undo-btn:hover, .id-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.id-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    border-width: 0px;
    color: white;
}

@media all and (max-width: 1470px)
{

}



@media all and (max-width: 834px){
    
}

@media (orientation:landscape) and (max-height: 600px)
{

}

@media all and (max-width: 480px){
    
}
